.crumb {
    -fx-font-size: 16;
}

.bread-crumb-bar .button {
	-fx-text-fill: #562C87;
	-fx-font-size: 16px;
	-fx-background-color: transparent;
}

.bread-crumb-bar .button:hover {
     -fx-text-fill: #DEDEDE; 
}
