bread-crumb-bar {
     /*-fx-background-color: transparent; */
}
.bread-crumb-bar .button {
    -fx-padding: 8 12 8 20;
    -fx-border-color: null;
    -fx-border-insets: 0;
    -fx-content-display: left;
    -fx-background-position: left center;
    -fx-background-repeat: no-repeat;
    /*-fx-background-image: url("../img/slash.png");*/
    /*-fx-background-color: transparent;*/    
    -fx-border-color: transparent;
    -fx-shape: null;
}
.bread-crumb-bar .first {
    /*-fx-background-color: transparent ;
    -fx-border-color: transparent;
    -fx-font-size: 1.11em;
    -fx-text-fill: #000;
    -fx-background-image: null;
    -fx-shape: null;
    -fx-padding: 8 12 8 0;
    */
}
.crumb {
    -fx-text-fill: #000;
}
.crumb:hover,
.crumb:selected, 
.crumb:focused
{
    /*-fx-background-color: rgba(0,0,0,0.1);*/
    -fx-background-color: red;
    -fx-border-color: null;
    -fx-font-size: 1.11em;
    -fx-text-fill: rgba(0,0,0,0.5);
}