<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="| %-5p | %d{yyyy-MM-dd HH:mm:ss} | %F:%L | %m%n" />
		</Console>
		<File name="Debug" fileName="C://Users//AWILKE06//OneDrive - Environmental Protection Agency (EPA)//Documents//Projects//Metro-CERI//FY22//ERB//Logs//debug.log">
			<PatternLayout
				pattern="| %-5p | %d{yyyy-MM-dd HH:mm:ss} | %F:%L | %m%n" />
			<filters>
				<!-- Deny warn, error, fatal and info messages -->
				<ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL" />
				<ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL" />
				<ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL" />
				<ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL" />
				<!-- Then deny trace -->
				<ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
			</filters>
		</File>
		<File name="Info" fileName="C://Users//AWILKE06//OneDrive - Environmental Protection Agency (EPA)//Documents//Projects//Metro-CERI//FY22//ERB//Logs//info.log">
			<PatternLayout
				pattern="| %-5p | %d{yyyy-MM-dd HH:mm:ss} | %F:%L | %m%n" />
			<filters>
				<!-- Deny warn, error and fatal messages -->
				<ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL" />
				<ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL" />
				<ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL" />
				<!-- Then deny trace/debug -->
				 <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
			</filters>
		</File>
		<File name="Warn" fileName="C://Users//AWILKE06//OneDrive - Environmental Protection Agency (EPA)//Documents//Projects//Metro-CERI//FY22//ERB//Logs//warn.log">
			<PatternLayout
				pattern="| %-5p | %d{yyyy-MM-dd HH:mm:ss} | %F:%L | %m%n" />
			<filters>
				<!-- Deny error and fatal messages -->
				<ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL" />
				<ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL" />
				<!-- Then deny trace/debug/info -->
				 <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY" />
			</filters>
		</File>
		<File name="Error" fileName="C://Users//AWILKE06//OneDrive - Environmental Protection Agency (EPA)//Documents//Projects//Metro-CERI//FY22//ERB//Logs//error.log">
			<PatternLayout
				pattern="| %-5p | %d{yyyy-MM-dd HH:mm:ss} | %F:%L | %m%n" />
			<filters>
				<!-- Deny fatal messages -->
				<ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL" />
				<!-- Then deny trace/debug/info/warn -->
				 <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
			</filters>
		</File>
		<File name="Fatal" fileName="C://Users//AWILKE06//OneDrive - Environmental Protection Agency (EPA)//Documents//Projects//Metro-CERI//FY22//ERB//Logs//fatal.log">
			<PatternLayout
				pattern="| %-5p | %d{yyyy-MM-dd HH:mm:ss} | %F:%L | %m%n" />
			<filters>
				<!-- Deny trace/debug/info/warn/error -->
				 <ThresholdFilter level="fatal" onMatch="ACCEPT" onMismatch="DENY" />
			</filters>
		</File>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<!-- <AppenderRef ref="Console" /> -->
			<AppenderRef ref="Info" />
			<AppenderRef ref="Debug" />
			<AppenderRef ref="Warn" />
			<AppenderRef ref="Error" />
			<AppenderRef ref="Fatal" />
		</Root>
	</Loggers>
</Configuration>