.menu-item .label {
  -fx-font-size: 14;
  -fx-text-fill: black;  
}

.menu .label {
     -fx-text-fill: white;
}

.menu .label:hover {
     -fx-text-fill: #4fb1c9; 
}

.context-menu {
    -fx-background-color: #568BC1;
}