.menu-button:hover{
    -fx-text-fill: #4fb1c9;
}

.menu-button {
	-fx-background-color: linear-gradient(#B95A17, #D56B20),
				linear-gradient(#ffffff, #D56B20),
				linear-gradient(#ffffff, #D56B20),
				linear-gradient(#ffffff 0%, #D56B20 50%, #D56B20 100%),
				linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
				-fx-background-radius: 30;
				-fx-background-insets: 0,1,2,3,0;
				-fx-font-weight: bold;
				-fx-font-size: 14px;
}

.menu-item .label {
    -fx-text-fill: white;
}	

.menu-button .label {
    -fx-text-fill: white;
}	

.context-menu {
   -fx-background-color: #D56B20;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
    -fx-text-fill: white;
}	

.menu-button > .arrow-button > .arrow {
    -fx-background-color: white;
}
   			 
 