.progress-indicator .percentage {
   -fx-fill:null;
}

.progress-indicator  {
    -fx-padding: 0 0 -16 0;
}

.progress-indicator  .progress  {
    -fx-background-color: black;
}

/**
.progress-indicator  .indicator  {
    -fx-background-color: white;
}
**/
