.progress-indicator .percentage {
   -fx-fill:null;
}

.progress-indicator  {
    -fx-padding: 0 0 -16 0;
}

#chapter1ProgressIndicator .progress{
	 -fx-background-color: #ef7777;
}

#chapter2ProgressIndicator .progress{
	 -fx-background-color: #87b472;
}

#chapter3ProgressIndicator .progress{
	 -fx-background-color: #1ccbea;
}

#chapter4ProgressIndicator .progress{
	 -fx-background-color: #d699ff;
}

#chapter5ProgressIndicator .progress{
	 -fx-background-color: #fc9e2a;
}

/**
.progress-indicator  .indicator  {
    -fx-background-color: white;
}
.progress-indicator  .progress  {
    -fx-background-color: #ef7777;
}
**/
