.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, transparent, transparent, transparent;
}

.text-area .content {
    -fx-background-color: transparent, transparent, transparent, transparent;
}

.text-area:focused .content {
    -fx-background-color: transparent, transparent, transparent, transparent;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}