.text-area {
    -fx-background-insets: 0;
    -fx-background-color: white;
}

.text-area .content {
    -fx-background-color: white;
}

.text-area:focused .content {
    -fx-background-color: white;
	-fx-cursor: default ;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 5px;
    -fx-text-fill: white;
    -fx-highlight-fill: #7ecfff;
}
