.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: #D96727;
}
.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: #D96727;
}

.tree-view .tree-cell{
    -fx-background-color: #FEEBDF;
    -fx-text-fill: #25215C ;
    -fx-font-weight: bold;
}

.tree-view .tree-cell:selected{
    -fx-background-color: #FFFCED;
     -fx-text-fill: #562C87 ;
    -fx-font-weight: bold;
}

.tree-cell{
    -fx-font-size: 16;
}