.tree-view {
    
}
.tree-view .tree-cell {

}
.tree-view .tree-cell:selected {
    -fx-font-weight: bold;
    -fx-background-color: #E1E1E1;
}

.tree-view .tree-cell:filled:hover {
    -fx-background-color: #CFCFCF;
}

.tree-view .tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: #AAAAAA;
}