.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: #EAEAEA;
}
.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: black;
}

.tree-view .tree-cell:selected{
    -fx-background-color: #D6D6D6;
}