	@charset "ISO-8859-1";

	#sidebarContainer{
	    display:none;
	}

	#findbar{
	    display:none;
	}

	#secondaryToolbar{
	    display:none;
	}

	#toolbarContainer{
	    display:none;
	}

	#errorWrapper{
		display:none;
	}

	#dialogContainer{
		display:none;
	}